<body>
    <button class="arrowLeft" (click)="goinit()">
        <i class="fas fa-arrow-left"></i>
    </button>

    <div class="container">
        <h1>Seleccione el tipo de registro a realizar:</h1>
        <div class="button-container d-flex flex-column align-items-center">
            <button data-mdb-button-init data-mdb-ripple-init 
                    class="btn btn-lg btn-primary rounded-circle mb-3 backgroundBlue"
                    style="width: 70px; height: 70px;"
                    (click)="mostrarAltaPaciente()">
                <i class="fas fa-user-plus"></i>
            </button>
            <button data-mdb-button-init data-mdb-ripple-init 
                    class="btn btn-lg btn-primary rounded-circle backgroundBlue"
                    style="width: 70px; height: 70px;"
                    (click)="mostrarAltaEspecialista()">
                <i class="fas fa-user-md"></i>
            </button>
        </div>
        <div class="form-container mt-4">
            <ng-container *ngIf="componenteActivo === 'paciente'">
                <app-alta-pacientes></app-alta-pacientes>
            </ng-container>
            <ng-container *ngIf="componenteActivo === 'especialista'">
                <app-alta-especialistas></app-alta-especialistas>
            </ng-container>
        </div>
    </div>
</body>
