<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <img id="logo" src="../../../assets/logo.png" alt="logo sanatorio" >
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                <span class="navbar-text">
                    <ul class="navbar-nav">
                      <li class="nav-item" >
                        <button *ngIf="tipoUser === 'especialista'" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue"
                        (click)="goMisHorarios()">Mis horarios</button>
                      </li>
                      <li class="nav-item" >
                        <button *ngIf="tipoUser === 'paciente'" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue"
                        (click)="goHc()">Historia Clinica</button>
                      </li>
                        <li class="nav-item" >
                          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue"
                          (click)="goHome()">Volver</button>
                        </li>
                        <li class="nav-item">                    
                          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue"
                          (click)="logout()">Cerrar Sesión</button>
                        </li>
                      </ul>
                </span>
              </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div *ngIf="perfilData">
          <div *ngIf="tipoUser === 'paciente'" class="perfil-container">
            <h1>Mi perfil ~</h1>
            <p><img class="fotoPerfil" *ngIf="perfilData.imagenUno" [src]="perfilData.imagenUno" alt=""><img class="fotoPerfil" *ngIf="perfilData.imagenDos" [src]="perfilData.imagenDos" alt=""></p>
            <p><strong>Nombre:</strong> {{ perfilData.nombre }}</p>
            <p><strong>Apellido:</strong> {{ perfilData.apellido }}</p>
            <p><strong>Email:</strong> {{ perfilData.email }}</p>
            <p><strong>Dni:</strong> {{ perfilData.dni }}</p>
            <p><strong>Obra Social:</strong> {{ perfilData.obraSocial }}</p>
          </div>

          <div *ngIf="tipoUser === 'especialista'" class="perfil-container">
            <h1>Mi perfil ~</h1>
            <p><img class="fotoPerfil" *ngIf="perfilData.foto" [src]="perfilData.foto" alt=""></p>
            <p><strong>Nombre:</strong> {{ perfilData.nombre }}</p>
            <p><strong>Apellido:</strong> {{ perfilData.apellido }}</p>
            <p><strong>Email:</strong> {{ perfilData.email }}</p>
            <p><strong>Dni:</strong> {{ perfilData.dni }}</p>
            <p><strong>Especialidad/es:</strong> {{ perfilData.especialidad }}</p>
            <p><strong>Horario Laboral:</strong> {{ perfilData.horaEntrada }} - {{perfilData.horaSalida}}</p>
            <p><strong>Días laborales:</strong> {{ perfilData.diasTrabaja }}</p>
          </div>

        </div>
          <div *ngIf="!perfilData">
            <p>Cargando datos del perfil...</p>
          </div>
  </div>
</body>
