.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #000;
}
.h-custom {
height: calc(100% - 73px);
}

.currentUser {
    color: #0A056B;
}

.backgroundBlue {
    background-color: #285E96;
    color: white;  
    margin-left: 10px;
}

.backgroundBlue:hover {
    background-color: #0A056B;
}

body {
    background: url('../../../assets/allBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#logo {
    width: 150px;
    height: 150px;  
    margin-left: 15px;
    border-radius: 70px;
    overflow: hidden;
}
 
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

a.nav-link {
    border-radius: 5px;
    color: black;
}

.fotoPerfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.perfil-container {
    background: url('https://i.pinimg.com/736x/50/98/31/509831b22d348b13e765325a3fbc37de.jpg') center/cover;
    border-radius: 15px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .perfil-container h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  .perfil-container p {
    color: #000;
    font-size: 1.1rem;
  }
  

@media (max-width: 450px) {
.h-custom {
height: 50%;
}
}