<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <img id="logo" src="../../../assets/logo.png" alt="logo sanatorio" >
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                <span class="navbar-text">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link">Bienvenido/a <b class="currentUser">{{usuario}}</b> !</a>
                      </li>
                        <li class="nav-item" >
                          <button *ngIf="tipoUser === 'administrador'" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue"
                          (click)="goUsuarios()">Usuarios</button>
                        </li>
                        <li class="nav-item" >
                          <button *ngIf="tipoUser !== 'administrador'" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue"
                          (click)="goTurnosEsp()">Mis turnos</button>
                        </li>
                        <li class="nav-item" >
                          <button *ngIf="tipoUser === 'administrador'" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue"
                          (click)="goTurnosAdm()">Turnos</button>
                        </li>
                        <li class="nav-item" >
                          <button *ngIf="tipoUser === 'administrador' || tipoUser === 'paciente'" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue"
                          (click)="sacarTurno()">Solicitar turno</button>
                        </li>
                        <li class="nav-item" >
                          <button *ngIf="tipoUser === 'especialista' || tipoUser === 'paciente'" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue"
                          (click)="goPerfil()">Mi perfil</button>
                        </li>
                        <li class="nav-item">                    
                          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue"
                          (click)="logout()">Cerrar Sesión</button>
                        </li>
                      </ul>
                </span>
              </div>
            </div>
        </nav>
    </header>

    <!-- cards -->
  <div class="container mt-5 ">
    <div class="row containerCards">
      <div *ngIf="tipoUser === 'administrador'" class="card text-white col-md-6 mb-6 sizeCards" (click)="goUsuarios()">
        <img src="https://cdn.pixabay.com/photo/2016/04/15/18/05/computer-1331579_640.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title text-center customCardTitles">Usuarios</h5>
        </div>
      </div>
      <div *ngIf="tipoUser === 'administrador'" class="card text-white col-md-6 mb-6 sizeCards" (click)="goTurnosAdm()">
        <img src="https://diarioenfermero.es/wp-content/uploads/2020/01/variedad-objetos-que-muestran-tiempo_52683-22973-e1580220219388.jpg" class="card-img" alt="...">
        <div class="card-img-overlay" >
          <h5 class="card-title text-center customCardTitles">Turnos</h5>  
        </div>
      </div>
      <div *ngIf="tipoUser === 'especialista'" class="card text-white col-md-6 mb-6 sizeCards" (click)="goTurnosEsp()">
        <img src="https://diarioenfermero.es/wp-content/uploads/2020/01/variedad-objetos-que-muestran-tiempo_52683-22973-e1580220219388.jpg" class="card-img" alt="...">
        <div class="card-img-overlay" >
          <h5 class="card-title text-center customCardTitles">Mis turnos</h5>  
        </div>
      </div>
      <div *ngIf="tipoUser === 'paciente'" class="card text-white col-md-6 mb-6 sizeCards" (click)="goTurnosPac()">
        <img src="https://diarioenfermero.es/wp-content/uploads/2020/01/variedad-objetos-que-muestran-tiempo_52683-22973-e1580220219388.jpg" class="card-img" alt="...">
        <div class="card-img-overlay" >
          <h5 class="card-title text-center customCardTitles">Mis turnos</h5>  
        </div>
      </div>
    </div>
    <div class="row containerCards">
      <div *ngIf="tipoUser === 'administrador' || tipoUser === 'paciente'" class="card text-white col-md-6 mb-6 sizeCards">
        <img src="https://png.pngtree.com/png-clipart/20220719/original/pngtree-calendar-with-selected-date-png-image_8382123.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title text-center customCardTitles">Solicitar turno</h5>
        </div>
      </div>
      <div *ngIf="tipoUser === 'especialista' || tipoUser === 'paciente'" class="card text-white col-md-6 mb-6 sizeCards"(click)="goPerfil()">
        <img src="https://cdn-icons-png.flaticon.com/256/9634/9634092.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title text-center customCardTitles">Mi perfil</h5>
        </div>
      </div>
    </div>
  </div>
</body>
