.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #000;
}
.h-custom {
height: calc(100% - 73px);
}

.currentUser {
    color: #0A056B;
}

.backgroundBlue {
    background-color: #285E96;
    color: white;  
    margin-left: 10px;
}

.backgroundBlue:hover {
    background-color: #0A056B;
}

body {
    background: url('../../../assets/allBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#logo {
    width: 150px;
    height: 150px;  
    margin-left: 15px;
    border-radius: 70px;
}
 
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

a.nav-link {
    border-radius: 5px;
    color: black;
}

.sizeCards,
.cardButton {
    width: 400px;
    height: 400px; 
    background-color: #fff;  
}

.containerCards{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.customCardTitles {
    font-family: 'Verdana';
    font-size: 40px;
    color: black;
}

.card:hover {
    cursor: pointer;
  }

@media (max-width: 450px) {
.h-custom {
height: 50%;
}
}