<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <img id="logo" src="../../../assets/logo.png" alt="logo sanatorio" >
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                <span class="navbar-text">
                    <ul class="navbar-nav">
                      <!-- <li class="nav-item">
                        <a class="nav-link">Bienvenido/a <b class="currentUser">usuario</b> !</a>
                      </li> -->
                        <li class="nav-item" >
                          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue"
                          (click)="goHome()">Volver</button>
                        </li>
                        <!-- <li class="nav-item" >
                          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue"
                          >Sala de chat</button>
                        </li> -->
                        <li class="nav-item">                    
                          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue"
                          (click)="logout()">Cerrar Sesión</button>
                        </li>
                      </ul>
                </span>
              </div>
            </div>
        </nav>
    </header>

    <div class="container">
      
      <!-- <app-spinner [isLoading]="(loadingService.loading$ | async) ?? false"></app-spinner> -->
      <h1>Seleccione acción a realizar:</h1>
      
      <div class="button-container">
        
      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg backgroundBlue"
      style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="mostrarUsuarios()">Ver usuarios</button>
      
      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg backgroundBlue"
      style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="mostrarAltaAdministrador()">Alta administrador</button>
      </div>
      <div class="form-container">
        
      <ng-container *ngIf="componenteActivo === 'administrador'">
          <app-alta-administrador></app-alta-administrador>
      </ng-container>
      <ng-container *ngIf="componenteActivo === 'usuarios'">
        
          <app-tabla-usuarios></app-tabla-usuarios>
      </ng-container>
      </div>
  </div>
</body>
