<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <img id="logo" src="../../../assets/logo.png" alt="logo sanatorio" >
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                <span class="navbar-text">
                    <ul class="navbar-nav">
                        <li class="nav-item" >
                          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue"
                          (click)="goHome()">Volver</button>
                        </li>
                        <li class="nav-item" >
                          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue"
                          (click)="exportarTodos()">Exportar charts</button>
                        </li>
                        <li class="nav-item" >
                          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue"
                          (click)="generarExcel()">Generar Excel Logs</button>
                        </li>
                        <li class="nav-item">                    
                          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue"
                          (click)="logout()">Cerrar Sesión</button>
                        </li>
                      </ul>
                </span>
              </div>
            </div>
        </nav>
    </header>

    <div>
      <table>
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of logs$ | async">
            <td>{{ log.email }}</td>
            <td>{{ formatTimestamp(log!.fecha) }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="width: 40%; margin: auto;">
        <canvas #turnosPorEspecialidadChart style="margin-top: 2rem;"></canvas>
        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue" style="margin-top: 1rem;" (click)="exportarEspecialidadPdf()">Exportar Gráfico</button>
        <canvas #turnosPorDiaChart style="margin-top: 2rem;"></canvas>
        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue" style="margin-top: 1rem;" (click)="exportarTurnosPdf()">Exportar Gráfico</button>
        <canvas #turnosPorMedicoChart style="margin-top: 2rem;"></canvas>
        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue" style="margin-top: 1rem;" (click)="exportarTurnosMedico()">Exportar Gráfico</button>
        <canvas #turnosFinChart style="margin-top: 2rem;"></canvas>
        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundBlue" style="margin-top: 1rem;" (click)="exportarTurnosFin()">Exportar Gráfico</button>
    </div>

        
</body>
