html, body {
    background: url('../../../assets/allBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.arrowLeft {
    color: #FFF;
    background-color: #285E96;
    margin-left: 20px;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: #285E96;
    overflow: hidden;

}

.card {
    background-color: #285E96;
}