<section class="vh-100 gradient-custom">
    <div class="container py-5 ">
      <form [formGroup]="form" (ngSubmit)="cargarEspecialista()">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="lead fw-normal mb-0 me-15">Crear una cuenta de Especialista</h2>
                <p class="text-white-50 mb-5">Por favor, ingrese los datos solicitados a continuación:</p>

                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input type="nombre" id="nombre" class="form-control form-control-lg" formControlName="nombre" requiered/>
                  <label class="form-label customLetter" for="nombre">Nombre:</label>
                  <ng-container *ngIf="nombre?.hasError('pattern')">
                    <small class="text-danger">Sólo debe contener solo letras</small>
                  </ng-container>
                </div>

                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input type="apellido" id="apellido" class="form-control form-control-lg" formControlName="apellido" requiered/>
                  <label class="form-label customLetter" for="apellido">Apellido:</label>
                  <ng-container *ngIf="apellido?.hasError('pattern')">
                    <small class="text-danger">Sólo debe contener solo letras</small>
                  </ng-container>
                </div>
  
                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input type="edad" id="edad" class="form-control form-control-lg" formControlName="edad" requiered/>
                  <label class="form-label customLetter" for="edad">Edad:</label>
                  <ng-container *ngIf="edad?.hasError('min')">
                    <small class="text-danger">Debe ser mayor de edad</small>
                  </ng-container>
                </div>

                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input type="dni" id="dni" class="form-control form-control-lg" formControlName="dni" requiered/>
                  <label class="form-label customLetter" for="dni">Dni:</label>
                  <ng-container *ngIf="dni?.hasError('maxLength')">
                    <small class="text-danger">El maximo de caracteres permitidos es 8</small>
                  </ng-container>
                </div>

                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <label for="especialidad">Selecciona tu especialidad:</label>
                  <select id="especialidad" formControlName="especialidad" (change)="onEspecialidadChange($event)">
                      <option value="medicina">Gastroenterología</option>
                      <option value="ingenieria">Oftalmología</option>
                      <option value="derecho">Clínica médica</option>
                      <option value="otra">Otra</option>
                  </select>
      
                  <div [class.hidden]="!mostrarOtraEspecialidad">
                      <label for="otraEspecialidad">Especifica tu especialidad:</label>
                      <input type="text" id="otraEspecialidad"  formControlName="otraEspecialidad">
                  </div>
                </div>


                
                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input type="email" id="email" class="form-control form-control-lg" formControlName="email" requiered/>
                  <label class="form-label customLetter" for="email">Correo electrónico</label>
                  <ng-container *ngIf="email?.hasError('pattern')">
                    <small class="text-danger">Formato inválido</small>
                  </ng-container>
                </div>
  
                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input  type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="password" requiered/>
                  <label class="form-label customLetter"  for="typePasswordX">Contraseña</label>
                  <ng-container *ngIf="password?.hasError('minlength')">
                    <small class="text-danger">
                      La clave debe tener mínimo {{password?.getError('minlength').requiredLength}} caracteres
                    </small>
                  </ng-container>
                </div>

                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <label for="imagen" >Subir Imagen:</label>
                  <input type="file" (change)="onFileSelected($event)" id="imagen">
                </div>

                <!-- <div>
                  <ngx-recaptcha2 #captchaElem
                  [siteKey]="siteKey"
                  (reset)="handleReset()"
                  (expire)="handleExpire()"
                  (load)="handleLoad()"
                  (success)="handleSuccess($event)"
                  [useGlobalDomain]="false"
                  formControlName="recaptcha">
                </ngx-recaptcha2>
                </div> -->
                <div class="captchita">
                  <ngx-recaptcha2
                    #captchaElem
                    [siteKey]="'6LcscvUpAAAAAMrDsxFrU2VhCw9H01xGa3i7APtx'"
                    (change)="resolvedCaptcha('$event')"
                    [useGlobalDomain]="false"
                    formControlName="recaptcha"
                  ></ngx-recaptcha2>
                </div>

                <!-- <re-captcha formControlName="recaptcha" siteKey="6Ldxh_QpAAAAAONdr7WSeAKb8NfgIqHvTdtpwobl"></re-captcha> -->
                <button  data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" 
                type="submit">Crear</button> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    </div>
</section>


