<body>
  

<section class="vh-100 gradient-custom">
    <button class="arrowLeft">
        <i class="fas fa-arrow-left"></i>
    </button>
    <div class="container py-5 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="lead fw-normal mb-0 me-15">Crear una cuenta de Especialista</h2>
                <p class="text-white-50 mb-5">Por favor, ingrese los datos solicitados a continuación:</p>

                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input type="nombre" id="nombre" class="form-control form-control-lg" requiered/>
                  <label class="form-label customLetter" for="nombre">Nombre:</label>
                </div>

                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input type="apellido" id="apellido" class="form-control form-control-lg" requiered/>
                  <label class="form-label customLetter" for="apellido">Apellido:</label>
                </div>
  
                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input type="edad" id="edad" class="form-control form-control-lg" requiered/>
                  <label class="form-label customLetter" for="edad">Edad:</label>
                </div>

                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input type="dni" id="dni" class="form-control form-control-lg" requiered/>
                  <label class="form-label customLetter" for="dni">Dni:</label>
                </div>

                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <label for="especialidades">Selecciona tu especialidad:</label>
                  <select id="especialidades" name="especialidades" onchange="handleSpecialtyChange()">
                      <option value="medicina">Medicina</option>
                      <option value="ingenieria">Ingeniería</option>
                      <option value="derecho">Derecho</option>
                      <option value="otra">Otra</option>
                  </select>
      
                  <div id="other-specialty-container" class="hidden">
                      <label for="otra-especialidad">Especifica tu especialidad:</label>
                      <input type="text" id="otra-especialidad" name="otra-especialidad">
                  </div>
                </div>


                
                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input type="email" id="email" class="form-control form-control-lg" requiered/>
                  <label class="form-label customLetter" for="email">Correo electrónico</label>
                </div>
  
                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input  type="password" id="typePasswordX" class="form-control form-control-lg" requiered/>
                  <label class="form-label customLetter"  for="typePasswordX">Contraseña</label>
                </div>

                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <label for="imagen">Subir Imagen:</label>
                  <input type="file" id="imagen">
                </div>
  
                <button  data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5 " 
                id="backgroundYellow" type="submit">Crear</button> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

